<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova.plugin.elo.machine" version="0.0.12">
   <name>cordovaPluginEloMachine</name>
   <js-module name="cordovaPluginEloMachine" src="www/cordovaPluginEloMachine.js">
      <clobbers target="cordova.plugins.cordovaPluginEloMachine" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="cordovaPluginEloMachine">
            <param name="android-package" value="cordova.plugin.elo.machine.cordovaPluginEloMachine" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/cordovaPluginEloMachine.java" target-dir="src/cordova/plugin/elo/machine/cordovaPluginEloMachine" />
      <source-file src="src/android/StarPrinterHelper.java" target-dir="src/cordova/plugin/elo/machine/cordovaPluginEloMachine" />
      <source-file src="src/android/StarPrinterCallback.java" target-dir="src/cordova/plugin/elo/machine/cordovaPluginEloMachine" />      
      <source-file src="libs/starioextension.jar" target-dir="libs"/>
      <source-file src="libs/StarIOPort3.1.jar" target-dir="libs"/>
      <framework src="src/android/cordovaPluginEloMachine.gradle" custom="true" type="gradleReference" />
      <resource-file src="aar/elo-peripherals-refresh-sdk-release.aar" target="libs/elo-peripherals-refresh-sdk-release.aar" />
   </platform>
</plugin>